{% load static %}

<div class="card h-100" style="width: 22rem;">
  <img src="{% static 'images/afişler/'|add:movie.image_name %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">{{movie.title}}</h1>
    
  </div>
  <ul class="list-group list-group-flush">
    {% if movie.is_released %}
      <li class="list-group-item"><i class="fa fa-star" style="margin-right:10px;color:blue ">Imdb Rating:</i>{{movie.rating}}</li>
    {% endif %}
    <li class="list-group-item">Çıkış Tarihi - {{movie.date}}</li>
    <li class="list-group-item">{{movie.language}}</li>
  </ul>
  <div class="card-body">
    
    <a href="{% url 'movie_details' movie.slug %}" class="card-link">Detay Bilgi</a>
  </div>
</div>
