<div class="bg-white p-3 widget shadow rounded mb-4">
    <div class="nav nav-pills flex-column lavalamp" id="sidebar-1">
      <a class="nav-link" href="{% url 'profile' %}">
        <i class="fa fa-user-circle" style="font-size:24px"></i> Profile
      </a>
      <a class="nav-link" href="{% url 'watch_list' %}">
        <i class="fa fa-heart" style="font-size:24px;"></i> Watchlist
      </a>
      <a class="nav-link" href="{% url 'change_password' %}">
        <i class="fa fa-gear me-2" style="font-size:24px;"></i>Change Password
      </a>
      
    </div>
  </div>